<footer class="footer text-center">
    <hr />
    <p>&copy; 1994 SCENTIFY WEB. TODOS LOS DERECHOS RESERVADOS.</p>
    <p class="afooter">POLÍTICA DE PRIVACIDAD | TÉRMINOS DE SERVICIO | POLÍTICA DE COOKIES</p>
    <pre class="mx-auto">TELÉFONO: 152440-1870     EMAIL: SCENTIFY@GMAIL.COM</pre>
</footer>
