<div class="logowpp" style="background-color: transparent, border: none; " >
    <a href="https://wa.me/1234567890" target="_blank" rel="noopener noreferrer" title="Comunicate con nosotros en WhatsApp">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Logo" />
    </a>
</div>
