<link rel="stylesheet" href="/css/estilos.css">

<main class="mainalta">
<div class="container text-center">
    <h1 class="h2general">
        Alta de Productos
    </h1>
</div>

<div class="container">
        <form method="post" action="/product/register">
            <div class="mb-3">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" class="form-control" name="marca" id="marca" aria-describedby="marcaHelp" placeholder="Marca del Perfume" required>
            </div>
            <div class="mb-3">
                <label for="edicion" class="form-label">Edicion</label>
                <input type="text" class="form-control" name="edicion" id="edicion" aria-describedby="edicionHelp" placeholder="Edición del Perfume" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio (sin decimales)" required>
            </div>

            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="url" class="form-control" name="imagen" id="imagen" placeholder="Imagen del Producto" required>
            </div>



            <div class="text-center">
                <button type="submit" class="btn btn-success w-25">
                    Confirmar
                </button>
                <button type="reset" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
                </button>
        </form>
</div>
</main>