<link rel="stylesheet" href="/css/estilos.css">

<main>
<div class="acercade"> 
        <h2 class="h2general mb-5">Acerca de Nosotros</h2> 
        <p class="padn">
            Bienvenidos a Scentify, donde el arte de la perfumería se convierte en una experiencia inolvidable. <br>Fundada en 1994, nuestra misión es ofrecerte una selección de fragancias exquisitas que reflejen tu esencia única y te acompañen en cada momento especial de tu vida. <br />
            En Scentify, creemos que cada perfume cuenta una historia. Por eso, nos dedicamos a brindarte una colección diversa de fragancias que va desde los clásicos atemporales hasta las últimas innovaciones en el mundo de la perfumería. Trabajamos con los mejores perfumistas y marcas reconocidas para garantizar que cada botella que ofrecemos sea una obra maestra de calidad y sofisticación. <br />
            Nuestro equipo está compuesto por apasionados del arte del perfume, siempre dispuestos a ayudarte a encontrar esa fragancia perfecta que resuene con tu personalidad y estilo. Ofrecemos un servicio personalizado y experto, para que tu experiencia de compra sea tan agradable como el propio aroma que elijas. <br />
            En Scentify, no solo vendemos perfumes; creamos momentos inolvidables. Nos enorgullece ser un destino de confianza para todos los amantes del buen perfume y nos esforzamos por superar tus expectativas en cada visita. <br />
            Gracias por elegirnos. Estamos aquí para ayudarte a descubrir la fragancia que definirá tus momentos más especiales.
            <br /><br />    
            Con cariño,
            <br /><br />
            El equipo de Scentify
        </p>
</div>
</main>