<main class="d-flex flex-column align-items-center">
<link rel="stylesheet" href="/css/estilos.css">
<h2 class="h2general mb-0">Sucursales</h2>
<div class="sucu d-flex align-items-start mt-5">
    <div class="mt-4 ms-0 me-5 text-center">
        <h2 class="fw-semibold">Barrio de San Justo</h2>
        <hr class="mt-1 mb-0 text-black">
        <p class="mt-1 fs-4">Horarios de Atención</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
        Lunes a Viernes de 10:00hs a 22:00hs</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
        Sabados de 10:00hs a 22:00hs</p>
        {{!-- Mundo --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-globe-americas" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/></svg>
        <a class="fs-5" href="https://www.perfumeriasrouge.com/" target="_blank">
        perfumeriasrouge.com/sanjusto</a>
        <p class="fs-5">
        {{!-- Telefono --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-telephone-fill" viewBox="0 1 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg> 
        01156093510</p>   
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d104985.33478171687!2d-58.6393996!3d-34.685206!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc620533fc9cb%3A0x543f28630d69c77b!2sPerfumer%C3%ADas%20Rouge!5e0!3m2!1ses-419!2sar!4v1733882365816!5m2!1ses-419!2sar" width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-frame"></iframe>

    </div>
    {{!-- Otra sucursal --}}
    <div class="sucu d-flex align-items-start mt-5">
        <div class="mt-4 ms-0 me-5 text-center">
        <h2 class="fw-semibold">Barrio de Devoto</h2>
        <hr class="mt-1 mb-0 text-black">
        <p class="mt-1 fs-4">Horarios de Atención</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
            Lunes a Viernes de 12:00hs a 20:00hs</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
            Sabados de 10:00hs a 20:00hs</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
            Feriados de 12:00 a 20:00hs</p>
        {{!-- Mundo --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-globe-americas" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/></svg>
        <a class="fs-5" href="https://www.perfumeriasrouge.com/" target="_blank">perfumeriasrouge.com/devoto</a>
        <p class="fs-5">
        {{!-- Telefono --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-telephone-fill" viewBox="0 1 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg> 
        01142697105</p>   
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6567.4456558474485!2d-58.52620908662792!3d-34.611169700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7d0ce31fd89%3A0x4b584ac27808905c!2sPerfumer%C3%ADas%20Rouge%20-%20Devoto%20Shopping!5e0!3m2!1ses-419!2sar!4v1733967841277!5m2!1ses-419!2sar" width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-frame"></iframe>
    </div>

    {{!-- Otra sucursal --}}

    <div class="sucu d-flex align-items-start mt-5">
        <div class="mt-4 ms-0 me-5 text-center">
        <h2 class="fw-semibold">Barrio de Flores</h2>
        <hr class="mt-1 mb-0 text-black">
        <p class="mt-1 fs-4">Horarios de Atención</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
            Lunes a Viernes de 12:00hs a 22:00hs</p>
        <p class="fs-5">
        {{!-- Reloj --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-stopwatch" viewBox="0 2 16 16">
        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/></svg>
            Sabados de 12:00hs a 20:00hs</p>
        {{!-- Mundo --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="blue" class="bi bi-globe-americas" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/></svg>
        <a class="fs-5" href="https://www.perfumeriasrouge.com" target="_blank">perfumeriasrouge.com/flores</a>
        <p class="fs-5">
        {{!-- Telefono --}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-telephone-fill" viewBox="0 1 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg> 
        01162053154</p>   
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d104985.33478171687!2d-58.6393996!3d-34.685206!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca279786857f%3A0xbe211bceda1203a8!2sPerfumer%C3%ADas%20Rouge!5e0!3m2!1ses-419!2sar!4v1733882485326!5m2!1ses-419!2sar" width="700" height="400" style="border:0;  margin-top:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-frame">
    </iframe>
    </div>
</main>

